<br>
<div class="container">
    <img src ="assets/dtoor.png" id="logo" id="logo">
<div>
  <br>
  <br>
  <p>
    At dTOOR, we build non-rectangular phones for non-rectangular people.

Are you part of our non-rectangular tribe? We like to question the status quo, embrace difference and believe adventures come from taking detours.

We are designing from a fresh perspective, because not everyone wants a grey rectangle in their pocket. Our first product was The Cyrcle Phone 2G prototype, which we sold in 2016. It was circular, brightly colored, and proved our theory that there is a non-rectangular market out there.

Currently we are working on a sleeker, Android OS version of The Cyrcle Phone, soon to be released.
</p>
</div>
</div>
