// .centered {
//     position: absolute;
//     top: 80%;
//     left: 50%;
//     transform: translate(-50%, -50%);
// }
img{
  filter: blur(3px);
-webkit-filter: blur(5px);
}
#text-box{

  position: absolute;
  background-color: white;
  color: Black;
  transform: translate(-50%, -50%);
  top: 80%;
  left: 50%;
  border-radius: 20%;
  box-shadow: 10px 10px 5px grey;

}
.conatiner{
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}
