<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
<div class="conatiner">
<img src="assets/Post.jpg" style="width:100%;">
<div class="centered">
<div class="jumbotron" id="text-box">
  <div>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <div class="container">
      <h1><strong>Coming Soon</strong></h1>
      <p>Sign for up for Updates</p>
      <br>
        <form method="POST" id="mc-form" action= "https://thecyrclephone.us12.list-manage.com/subscribe/post?u=01a458396e37205a5745fbfec&amp;id=7b4ccb81be" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="row">
          <div class="col-md-6">
           <div class="form-group">
                <input type="text" name="EMAIL" id="mc-firstName" value="" placeholder="Email" class="form-control" >
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
                <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME" placeholder="First Name">
            </div>
          </div>
       </div>

       <div class="row">
         <div class="col-md-6">
            <div class="form-group">
                <input type="text" value="" name="LNAME" class="form-control" id="mce-LNAME"  placeholder="Last Name"/>
            </div>
          </div>

        <div class="col-md-6">
            <div class="form-group">
              <input type="text" name="MMERGE3" class="form-control" value="" id="mce-MMERGE3" placeholder="Phone#">
           </div>
         </div>
    </div>
              <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
             <div aria-hidden="true"><input type="text" name="b_01a458396e37205a5745fbfec_7b4ccb81be" tabindex="-1" value="Subscribe" id="mc-embedded-subscribe" style= display:none/>
              <button type="submit" id="submit-button" name="subscribe">Subscribe</button>
             </div>
       </form>
    </div>


    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';
    fnames[2]='LNAME';ftypes[2]='text';fnames[3]='MMERGE3';ftypes[3]='phone';}(jQuery));var $mcj = jQuery.noConflict(true);
    </script>

</div>
</div>
</div>
<app-details></app-details>
