
<div class="container">
  <div class="grid-container">
  <br>
  <br>
  <br>
  <h1>
    Are you part of our non-rectangular tribe?
  </h1>
  <br>

  <div class="item1">
    <h1>
      Android OS Nougat
    </h1>
    <p>
      t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using
    </p>
  </div>
  <br>
  <div id="one">
    <h1>
      Round display with touchscreen
    </h1>
    <p>
      t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using
    </p>
  </div>
  <br>
  <div id="two">
    <h1>
      Round display with touchscreen
    </h1>
    <p>
      t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using
    </p>
  </div>
  <br>
  <div id="three">
    <h1>
      Two cameras
    </h1>
    <p>
      t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using
    </p>
  </div>
  <br>
  <div id="four">
    <h1>
      USB port
    </h1>
    <p>
      t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using
    </p>
  </div>
  <br>
  <div id="five">
    <h1>
      Headphone jack
    </h1>
    <p>
      t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using
    </p>
  </div>
  <br>
  <div id="six">
    <h1>
      SIM card slot
    </h1>
    <p>
      t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using
    </p>
  </div>
</div>
</div>
